* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fcfbfb;
  color: #333;
}

/* Header */
header {
  width: 100%;
  background: #f8f8f8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14151e;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  position: relative;
}

.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: rgb(255, 178, 34);
  transition: width 0.3s ease;
  margin-top: 5px;
}

.navbar a:hover {
  color: #f52424;
}

.navbar a:hover::after {
  width: 100%;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #231717;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
}

/* Dropdown container */
.navbar .dropdown {
  position: relative;
}

/* Hidden dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #f2f2f2;
}
